[submodule "vendor/MotionBERT"]
	path = vendor/MotionBERT
	url = https://github.com/Walter0807/MotionBERT.git
[submodule "archived/pose-extraction-test/third_party/MotionBERT"]
	path = archived/pose-extraction-test/third_party/MotionBERT
	url = https://github.com/Walter0807/MotionBERT.git
